:root {
  /* colors */
  --main-bg-color: #ffca0a;
  --secondary-bg-color: #141414;
  --tertiary-bg-color: #ebebeb;

  /* fonts */
  --font-nav-header: "M PLUS 1 Code", monospace;
  --font-content: "Kreon", serif;
  --font-end-page: "Press Start 2P", cursive;
  /* Extra one */
  --font-extra: "Gloock", serif;

  /* Font colors */

  --font-color-one: #ffca0a;
  --font-color-two: #141414;
  --font-color-three: #ebebeb;
}

.card__container {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  background-color: var(--secondary-bg-color);

  .card-proj {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: 10px;
    padding-bottom: 15px;
    overflow: hidden;
    border: 2px solid rgba(235, 235, 235, 0.5);
    &:hover{
      border: 2px solid var(--font-color-one);
    }
    
    
    

    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      object-position: center;
      margin-bottom: 1.2rem;

      &:hover {
        cursor: pointer;
        filter: contrast(0.5);
        transition: all 0.2s ease-in-out;
      }
    }

    h3,
    p {
      color: var(--font-color-one);
      text-align: center;
     
    }

    h3 {
      text-transform: uppercase;
      margin-bottom: 8px;
    

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        transition: all 0.2s ease-in-out;
      }
    }

    p {
      padding: 5px;
      margin: 0 8px 0;
      font-size: 1.3rem;
      font-weight: 700;
      color: var(--font-color-one);
    }

    .project-icons {
      font-size: 2.2rem;
    }

    .btn {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;

    .code, .demo{
      display: flex;
      align-items: center;
      background-color: var(--secondary-bg-color);
      color: var(--main-bg-color);
      padding: 3px 3px;
      transition: all 0.2s ease-in-out;
      border-radius: 6px;
  

      &:hover {
        background: var(--font-color-one);
        color: var(--font-color-three);
        border: 1px solid var(--blue);
        box-shadow: none;
      }
    }
    

    

      a {
        display: flex;
        align-items: center;
        background-color: var(--secondary-bg-color);
        color: var(--main-bg-color);
        padding: 5px 5px;
    
      }

      p {
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--font-color-one);
      }
      
    }
  }
}

.card__container:hover {
  /* transform: scale(1.1); */
  transition: transform 0.3s ease;
  background: #111
  

}



