:root {
  /* colors */
  --main-bg-color: #ffca0a;
  --secondary-bg-color: #141414;
  --tertiary-bg-color: #ebebeb;

  /* fonts */
  --font-nav-header: "M PLUS 1 Code", monospace;
  --font-content: "Kreon", serif;
  --font-end-page: "Press Start 2P", cursive;
  /* Extra one */
  --font-extra: "Gloock", serif;

  /* Font colors */

  --font-color-one: #ffca0a;
  --font-color-two: #141414;
  --font-color-three: #ebebeb;
}

.card__container {
  display: flex;
  height: auto;
  width: 360px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* flex-wrap: wrap; */
  gap: 5rem;
  background-color: var(--secondary-bg-color);
  /* border: 1px solid red; */

  .card-proj {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 15px;
    /* justify-content: center; */

    border: 2px solid var(--tertiary-bg-color);
    /* border: 1px solid blue; */
    /* box-shadow: var(--box-shadow); */

    img {
      width: 100%;
      height: 220px;
      /* border: 1px solid red; */
      object-fit: cover;
      object-position: center;
      margin-bottom: 1.2rem;
      /* padding: 0.5rem; */

      &:hover {
        cursor: pointer;
        filter: contrast(0.5);
        transition: all 0.2s ease-in-out;
      }
    }

    h3,
    p {
      color: var(--font-color-one);
      text-align: center;
    }

    h3 {
      text-transform: uppercase;
      margin-bottom: 8px;
      /* border: 1px solid green; */

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        transition: all 0.2s ease-in-out;
      }
    }

    p {
      /* border: 1px solid red; */
      padding: 5px;
      margin: 0 8px 0;
      font-size: 1.3rem;
      color: var(--font-color-one);
    }

    .project-icons {
      font-size: 3rem;
      /* color: var(--font-color-two); */
    }

    .btn {
      display: flex;
      gap: 2rem;
      /* padding: 1rem 2rem 0; */
      /* border: 1px solid red; */
      justify-content: center;
      align-items: center;
      /* padding: 2rem; */
      margin-top: 2rem;
      margin-bottom: 2rem;
      /* font: var(--font-content); */

      a {
        display: flex;
        align-items: center;
        background-color: var(--secondary-bg-color);
        color: var(--main-bg-color);

        /* justify-content: space-around; */

        /* border: 3px solid var(--shade1); */
        /* color: var(--font); */
        /* background: var(--gray); */
        /* font-weight: 500; */
        /* text-align: center; */
        /* margin: 0 5px; */
        padding: 5px 5px;
        /* height: auto; */
        transition: all 0.2s ease-in-out;
        box-shadow: var(--box-shadow);

        &:hover {
          background: var(--blue);
          color: var(--white);
          border: 3px solid var(--blue);
          box-shadow: none;
        }
      }

      p {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--font-color-one);
      }
    }
  }
}

@media (min-width: 972px) {
  .card__container {
    /* display: flex; */
    height: auto;
    width: 360px;
  }
}
