:root {
  /* colors */
  --main-bg-color: #ffca0a;
  --secondary-bg-color: #141414;
  --tertiary-bg-color: #ebebeb;

  /* fonts */
  --font-nav-header: "M PLUS 1 Code", monospace;
  --font-content: "Kreon", serif;
  --font-end-page: "Press Start 2P", cursive;
  /* Extra one */
  --font-extra: "Gloock", serif;

  /* Font colors */

  --font-color-one: #ffca0a;
  --font-color-two: #141414;
  --font-color-three: #ebebeb;
}

html {
  scroll-behavior: smooth;
}

/* RESETS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
  list-style-type: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 50px;
}

body {
  background: var(--secondary-bg-color);
}

/* MOBILE HEADER/NAV */

.main-container {
  max-width: 1368px;
  margin: 0 auto;
}

.nav-container {
  background-color: var(--main-bg-color);
}

.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.navbar a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
}

li {
  font-family: var(--font-nav-header);
}

a {
  font-size: 1.4rem;
  color: var(--font-color-two);
  font-weight: 600;
}

.icons {
  display: none;
}

/* MOBILE INTRO */

.wrapper {
  display: flex;
  flex-direction: column;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction_header {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 30px;
}

.img-box {
  display: flex;
  margin-bottom: 30px;
}

.img-box img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.introduction_header,
.introduction_text {
  padding: 25px;
  line-height: 1.75;
  font-family: var(--font-nav-header);
  font-size: 2rem;
  color: var(--font-color-three);
}

.introduction_text {
  font-size: 1.8rem;
  font-weight: 400;
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
}

.card {
  background-color: var(--main-bg-color);
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
  font-family: var(--font-nav-header);
  border-radius: 5px;

  .skill-card-icons {
    font-size: 4.5rem;
  }
}

@media (max-width: 508px) {
  .card {
    width: 300px;
  }

  .card_text-1 {
    font-size: 1.5rem;
  }

  .card_img-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: row; */
  }
}



.card_text-1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--font-color-two);
}

.project_text {
  color: var(--font-color-three);
  font-family: var(--font-nav-header);
  font-size: 2rem;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.75;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

span {
  position: absolute;
  border-radius: 100vmax;
}

/* MOBILE CONTACT ME */

/* h3 CONTACT ME */
h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--font-color-three);
  font-family: var(--font-nav-header);
}

p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--font-nav-header);
  color: var(--font-color-three);
  font-size: 1.5rem;
  line-height: 1.75;
}

/* FOOTER MOBILE */

footer {
  background-color: var(--secondary-bg-color);
  color: var(--font-color-three);
  padding: 20px 0;
  text-align: center;
}

.icons-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 2.5rem;
  color: #ffca0a;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.75;
}

.footer-icons {
  font-size: 3.8rem;
  color: #ffca0a;

  &:hover {
    color: var(--tertiary-bg-color);
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}

.copyright {
  font-size: 1.4rem;
}

/* DESKTOP HEADER/NAV */

@media (min-width: 972px) {
  .main-container {
    display: flex;
  }

  .nav-container {
    background-color: var(--main-bg-color);
    flex-basis: 150px;
    position: fixed;
    left: 0;
    top: 0;
  }

  .navbar {
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  li {
    height: 100%;
    display: flex;
    align-items: center;
    transform: translate(0, 100%) rotate(-90deg);
  }

  a {
    font-size: 1.7rem;
    color: var(--font-color-two);
    font-weight: 600;
  }

  .icons {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  i {
    font-size: 30px;
    color: var(--secondary-bg-color);
    transform: translate(0, 0) rotate(90deg);
    transform-origin: 0, 0;
  }
  /* INTRO DESKTOP */

  .wrapper {
    flex-grow: 1;
    margin-left: 10rem;
  }

  .introduction_header {
    display: flex;
    text-align: left;
    gap: 45px;
    margin-right: 45px;
    margin-top: 30px;
    flex-direction: row;
  }

  .img-box {
    display: flex;
  }

  .img-box img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }

  .introduction_header,
  .introduction_text {
    padding: 25px;
    line-height: 1.75;
    font-family: var(--font-nav-header);
    font-size: 2rem;
    color: var(--font-color-three);
  }

  .skills {
    flex-wrap: wrap;
    align-items: center;
  }

  .card {
    height: 400px;
    width: 800px;
  }

  .card_text-1 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .projects-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 50px;
  }
}
